<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Vector Employee (Vector Informatik GmbH) -->
<ODX MODEL-VERSION="2.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="odx.xsd">
	<FLASH ID="FL.Adas31Ecu">
		<SHORT-NAME>Adas31Ecu</SHORT-NAME>
		<LONG-NAME>Adas31Ecu</LONG-NAME>
		<ECU-MEMS>
			<ECU-MEM ID="FL.Adas31Ecu.EM.Memory">
				<SHORT-NAME>Memory</SHORT-NAME>
				<LONG-NAME>Memory</LONG-NAME>
				<MEM>
					<SESSIONS>
						<SESSION ID="FL.Adas31Ecu.EM.Memory.SE.TUNING">
							<SHORT-NAME>TUNING</SHORT-NAME>
							<LONG-NAME>TUNING</LONG-NAME>
							<EXPECTED-IDENTS>
								<EXPECTED-IDENT ID="FL.Adas31Ecu.EM.Memory.SE.TUNING.EID.vehicleManufacturerECUHardwareNumber">
									<SHORT-NAME>vehicleManufacturerECUHardwareNumber</SHORT-NAME>
									<LONG-NAME>vehicleManufacturerECUHardwareNumber</LONG-NAME>
									<IDENT-VALUES>
										<IDENT-VALUE TYPE="A_ASCIISTRING">8201653202</IDENT-VALUE>
									</IDENT-VALUES>
								</EXPECTED-IDENT>
								<EXPECTED-IDENT ID="FL.Adas31Ecu.EM.Memory.SE.TUNING.EID.Calibration">
									<SHORT-NAME>Calibration</SHORT-NAME>
									<LONG-NAME>Calibration</LONG-NAME>
									<IDENT-VALUES>
										<IDENT-VALUE TYPE="A_BYTEFIELD">A47549DC6C7765DDE49155EAFCD9300FABD02A6BB1EA5B3A6A5AD4E7294DF2AA697DBA091E8A0611E034B93BD77FA73426DC30CAD55A56068BB6C6DE1334F16205D16C2E9C2CA1CEF1699897A0A627D52922C6D1640BF40066FCA5FF43AE8C3F23CB356F01CE5B9368FEE771CEE2D3FA4975B275670B81D35503A3A310E600C3BE3FE6A2688D4C3544720EE7C22D09769EDACBB531EB31AA65BDC8215438C97E0C9787FA92EF49888ED9554763CF99BE7AFCD3E60CB787D6DDD7444DCAEC48765A7557CFDD80749A38117476AB4939AC0B0FDA1B333E7B2FFCB2AB63225B96873F9750B60AEC684F9940A9D686470F76D58062C892F5B50F1F64CFC65163305E</IDENT-VALUE>
									</IDENT-VALUES>
								</EXPECTED-IDENT>
							</EXPECTED-IDENTS>
							<DATABLOCK-REFS>
								<DATABLOCK-REF ID-REF="FL.Adas31Ecu.EM.Memory.DB.Calibration"/>
							</DATABLOCK-REFS>
							<SDGS>
								<SDG SI="SecurityAccess">
									<SD SI="Level">01</SD>
								</SDG>
								<SDG SI="KnownValues">
									<SD SI="maxNumberOfBlockLength">0800</SD>
								</SDG>
							</SDGS>
						</SESSION>
					</SESSIONS>
					<DATABLOCKS>
						<DATABLOCK ID="FL.Adas31Ecu.EM.Memory.DB.Calibration" TYPE="DATA">
							<SHORT-NAME>Calibration</SHORT-NAME>
							<LONG-NAME>Calibration</LONG-NAME>
							<LOGICAL-BLOCK-INDEX>FD00</LOGICAL-BLOCK-INDEX>
							<FLASHDATA-REF ID-REF="FL.Adas31Ecu.EM.Memory.FD.Flashdata_FD00"/>
							<SEGMENTS>
								<SEGMENT ID="FL.Adas31Ecu.EM.Memory.DB.Calibration.SG.Calibration">
									<SHORT-NAME>Calibration</SHORT-NAME>
									<LONG-NAME>Calibration</LONG-NAME>
									<SOURCE-START-ADDRESS>10090000</SOURCE-START-ADDRESS>
									<COMPRESSED-SIZE>32768</COMPRESSED-SIZE>
									<UNCOMPRESSED-SIZE>32768</UNCOMPRESSED-SIZE>
									<ENCRYPT-COMPRESS-METHOD TYPE="A_BYTEFIELD">00</ENCRYPT-COMPRESS-METHOD>
								</SEGMENT>
							</SEGMENTS>
							<OWN-IDENTS>
								<OWN-IDENT ID="FL.Adas31Ecu.EM.Memory.DB.Calibration.OID.Calibration">
									<SHORT-NAME>Calibration</SHORT-NAME>
									<LONG-NAME>Calibration</LONG-NAME>
									<IDENT-VALUE TYPE="A_BYTEFIELD">A47549DC6C7765DDE49155EAFCD9300FABD02A6BB1EA5B3A6A5AD4E7294DF2AA697DBA091E8A0611E034B93BD77FA73426DC30CAD55A56068BB6C6DE1334F16205D16C2E9C2CA1CEF1699897A0A627D52922C6D1640BF40066FCA5FF43AE8C3F23CB356F01CE5B9368FEE771CEE2D3FA4975B275670B81D35503A3A310E600C3BE3FE6A2688D4C3544720EE7C22D09769EDACBB531EB31AA65BDC8215438C97E0C9787FA92EF49888ED9554763CF99BE7AFCD3E60CB787D6DDD7444DCAEC48765A7557CFDD80749A38117476AB4939AC0B0FDA1B333E7B2FFCB2AB63225B96873F9750B60AEC684F9940A9D686470F76D58062C892F5B50F1F64CFC65163305E</IDENT-VALUE>
								</OWN-IDENT>
							</OWN-IDENTS>
						</DATABLOCK>
						<DATABLOCK ID="FL.Adas31Ecu.EM.Memory.DB.Calibration" TYPE="DATA">
							<SHORT-NAME>Calibration</SHORT-NAME>
							<LONG-NAME>Calibration</LONG-NAME>
							<LOGICAL-BLOCK-INDEX>FD01</LOGICAL-BLOCK-INDEX>
							<FLASHDATA-REF ID-REF="FL.Adas31Ecu.EM.Memory.FD.Flashdata_FD00"/>
							<SEGMENTS>
								<SEGMENT ID="FL.Adas31Ecu.EM.Memory.DB.Calibration.SG.Calibration">
									<SHORT-NAME>Calibration</SHORT-NAME>
									<LONG-NAME>Calibration</LONG-NAME>
									<SOURCE-START-ADDRESS>10098000</SOURCE-START-ADDRESS>
									<COMPRESSED-SIZE>1441792</COMPRESSED-SIZE>
									<UNCOMPRESSED-SIZE>1441792</UNCOMPRESSED-SIZE>
									<ENCRYPT-COMPRESS-METHOD TYPE="A_BYTEFIELD">00</ENCRYPT-COMPRESS-METHOD>
								</SEGMENT>
							</SEGMENTS>
							<OWN-IDENTS>
								<OWN-IDENT ID="FL.Adas31Ecu.EM.Memory.DB.Calibration.OID.Calibration">
									<SHORT-NAME>Calibration</SHORT-NAME>
									<LONG-NAME>Calibration</LONG-NAME>
									<IDENT-VALUE TYPE="A_BYTEFIELD">A47549DC6C7765DDE49155EAFCD9300FABD02A6BB1EA5B3A6A5AD4E7294DF2AA697DBA091E8A0611E034B93BD77FA73426DC30CAD55A56068BB6C6DE1334F16205D16C2E9C2CA1CEF1699897A0A627D52922C6D1640BF40066FCA5FF43AE8C3F23CB356F01CE5B9368FEE771CEE2D3FA4975B275670B81D35503A3A310E600C3BE3FE6A2688D4C3544720EE7C22D09769EDACBB531EB31AA65BDC8215438C97E0C9787FA92EF49888ED9554763CF99BE7AFCD3E60CB787D6DDD7444DCAEC48765A7557CFDD80749A38117476AB4939AC0B0FDA1B333E7B2FFCB2AB63225B96873F9750B60AEC684F9940A9D686470F76D58062C892F5B50F1F64CFC65163305E</IDENT-VALUE>
								</OWN-IDENT>
							</OWN-IDENTS>
						</DATABLOCK>
					</DATABLOCKS>
					<FLASHDATAS>
						<FLASHDATA ID="FL.Adas31Ecu.EM.Memory.FD.Flashdata_FD00" xsi:type="EXTERN-FLASHDATA">
							<SHORT-NAME>Flashdata_FD00</SHORT-NAME>
							<LONG-NAME>Flashdata FD00</LONG-NAME>
							<SIZE-LENGTH>32</SIZE-LENGTH>
							<ADDRESS-LENGTH>32</ADDRESS-LENGTH>
							<DATAFORMAT SELECTION="BINARY"/>
							<ENCRYPT-COMPRESS-METHOD TYPE="A_BYTEFIELD">258</ENCRYPT-COMPRESS-METHOD>
							<DATAFILE LATEBOUND-DATAFILE="false">BIN_LB0.bin</DATAFILE>
						</FLASHDATA>
						<FLASHDATA ID="FL.Adas31Ecu.EM.Memory.FD.Flashdata_FD01" xsi:type="EXTERN-FLASHDATA">
							<SHORT-NAME>Flashdata_FD01</SHORT-NAME>
							<LONG-NAME>Flashdata FD01</LONG-NAME>
							<SIZE-LENGTH>32</SIZE-LENGTH>
							<ADDRESS-LENGTH>32</ADDRESS-LENGTH>
							<DATAFORMAT SELECTION="BINARY"/>
							<ENCRYPT-COMPRESS-METHOD TYPE="A_BYTEFIELD">258</ENCRYPT-COMPRESS-METHOD>
							<DATAFILE LATEBOUND-DATAFILE="false">BIN_LB1.bin</DATAFILE>
						</FLASHDATA>
					</FLASHDATAS>
				</MEM>
			</ECU-MEM>
		</ECU-MEMS>
	</FLASH>
</ODX>
